*{text-decoration: none;
  overflow-y: auto;
    
}
html{
    scroll-behavior: smooth;
}

fieldset{
    
    margin-top: 200px;
    margin-bottom: 100px;
}
    h4 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    form {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f8f8;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }
    
    form:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }
    
    input, textarea, select {
       

       
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #c81414;
    }
    
    .checkbox-container {
        display: flex;
        flex-direction: column;
       
    }
    
    
      #lg{
        border-radius: 1px solid black;
        border-radius: 20px;
        transition: 1s;
      } 

      #lg:hover{
        transition: 1s;
        box-shadow: #333;
      }
    
    
    button {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    }
    
    button:hover {
        background-color: #555;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
    


header{
    
    width: 100%;
    margin-right: 10px;
    padding: 15px;
    border-radius: 10px;
    border-bottom: 2px solid rgb(255, 9, 21);
    position: fixed;
}

a{
    margin: 20px1;
    padding: 2px;
    color: rgb(218, 6, 6);
    font-size: bold;
    font-weight: 1000;
    transition: 2s;
    margin-bottom: 2px;
}
a:hover{
    color: rgb(0, 0, 0);

}
.logo img {
    width: 100%;
    height: auto;
    max-width: 80%;
    
}
.logo p{
    text-justify: center;
    font-size: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #000000b2;
    font-weight: 1000;
}

#logoim{
    max-width: 300px;
    max-height: 400px;
}
table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: bold;
    font-style: normal;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #6200ff;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #222f6db2;
}

.carrossel-container {
    margin-top: 20px;
    background-color: rgba(0, 76, 218, 0);
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    
}

.carrossel {
    display: flex;
    transition: transform 2s ease-in-out;
}

.carrossel-item {
    min-width: 100%;
    box-sizing: border-box;
}
header.hd{
    background-color: #444;
   }

.lista {
    max-width: 800px; 
    margin: 0 auto;
    text-align: center; 
}
.lista table {
    width: 100%; 
    margin-top: 20px; }

.lista h2 {
    margin-bottom: 10px; 
}


.ctt {
    text-align: center;
}

.ctt {
    text-align: center;
}

h4 {
    font-size: 24px;
    margin-bottom: 20px;
}


h1 {
    font-size: 18px;
    color: #ffffff;
}
form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

form:hover {
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.8);
}

.input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

h1 {
    font-size: 18px;
    color: #ffffff;
}





button {
    background-color: #ff0f0f91;
    color: #fcfcfc;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #ff0404;
    box-shadow: 0 0 15px rgba(255, 106, 106, 0.8);
}


.text p{
    text-size-adjust: auto;
    margin: 10px;
    text-justify: auto;
    text-align: center;
}

#sobre {
    background-color: #0c010100; 
    padding: 80px 0; 
    text-align: center;
}

.sobre {
    max-width: 800px; 
    margin: 0 auto; 
}

.text {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.text p {
    font-family: cursive;
    font-size: 20px;
    line-height: 1.5; 
    color: #333; 
}

.text fieldset {
    border: 2px solid #ff0000; 
    border-radius: 8px;
    padding: 20px; 
}


.text fieldset span {
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
    margin-bottom: 20px;
    display: block; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

form {
    animation: fadeIn 1s ease-out;
}

footer{
    
    color: #ddd;
    background-color: #333333;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}
* {
    text-decoration: none;
    text-align: center;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}




@media only screen and (max-width: 600px) {
    form {
        width: 90%;
    }

    h1 {
        font-size: 16px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .carrossel-container {
        margin-top: 10px;
    }

    table {
        font-size: 12px;
    }

    th, td {
        padding: 6px;
    }

    footer {
        padding: 10px;
    }

   .hd{

    margin: 3px;
    display: flex;
    flex-direction: column;
   }
  
   a:hover{
    color: rgb(245, 245, 245);
    border: 1px solid wheat;
    border-radius: 60px;
    background-color: #333;
    transform: scaleX(1.2);
   }
   #lg{
    margin-top: 150px;
   }
   #lg{
    border: 2px solid black;
    border-radius: 20px;
    transition: 1s;
  } 

  #lg:hover{
    transition: 1s;
    transform: scale(1.3);
    box-shadow: #333;
  }

    
}


@media only screen and (max-width: 600px) {
    

    .carrossel-item img, .logo img {
        width: 80%; 
        height: auto;
    }
}

.ch{
   border-radius: 100%;
}
.hd{
    padding: 3px;
    background-color: #33333300;
}
@media only screen and (min-width: 600px) {


header{ 
    width: 100%;
    margin-right: 10px;
    padding: 15px;
    border-radius: 10px;
    border-bottom: 2px solid rgb(255, 9, 21);
    position: fixed;
}

a{
    margin: 20px;
    padding: 20px;
    color: rgb(218, 6, 6);
    font-size: bold;
    font-weight: 1000;
    transition: 2s;
    margin-bottom: 2px;
}
.carrossel-item img, .logo img {
    width: 60%; 
    height: 60%;
}
.logo img #lg{
    border-radius: 30%;

    
}
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
}

.whatsapp-icon a {
    display: block;
    
}

.whatsapp-icon img {
    
    width: 50px; 
    height: auto;
}


  <script>
        document.addEventListener('DOMContentLoaded', function() {
            const scrollElements = document.querySelectorAll('.scroll');

            scrollElements.forEach(function(element) {
                element.addEventListener('click', function() {
                    const target = document.getElementById(this.dataset.target);
                    if (target) {
                        target.scrollIntoView({ behavior: 'smooth' });
                    }
                });
            });
        });
    </script>
